html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

div {
  color: white;
  margin: 0;
  padding: 0;
}
/* .sport-wrap div, .sport-pro div{
  padding: 10px;
} */

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  border: 5px solid goldenrod;
  display: flex;
}
.sport-wrap {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
.sport-wrap div{
  padding: 10px 0;
}
.sport-pro {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
.sport-pro div {
  flex-grow: 1;
  text-align: center;
  padding-top: 10px;
}

.gray {
  background: gray;
}
.yellow {
  background: goldenrod;
}
.blue {
  background: blue;
}
.red {
  background: red;
}
.green {
  background: green;
}
